### Ques 1

In [ ]:
# what are missing values
Missing values are those values that are not present in a dataset for a specific observation. 
There could be several reasons for missing values such as data corruption, data entry errors, and 
missing information.
# Handling missing values
Handling missing values is important because they can significantly affect the
quality of data analysis and can lead to inaccurate predictions

In [ ]:
# importance of handling missing values
1-Missing data can cause bias in analysis and lead to false conclusions.

2-Many statistical and machine learning algorithms cannot handle missing values and 
   may fail or produce incorrect results.

3-Missing data can lead to reduced accuracy and predictive power of models.

4-Ignoring missing values can lead to incomplete analysis and conclusions.

5-Missing data can result in a loss of valuable information, which can adversely affect the performance
  of the model

In [ ]:
1-Some of the algorithms that are not affected by missing values are:

2-Decision Trees: Decision Trees can handle missing values by splitting data based on available data points.

3-Random Forest: Random Forest can handle missing values by averaging the missing values from the closest trees.

4-K-Nearest Neighbors: K-Nearest Neighbors can handle missing values by replacing the missing value with
  the average of the nearest neighbors.

5-Naive Bayes: Naive Bayes can handle missing values by ignoring them and considering only the present features

### Ques 2

In [ ]:
There are several techniques to handle missing data in a dataset
1-Deletion
2-Imputation
3-Prediction

# e.g. of each in python

In [3]:
#1-Deletion
 
import pandas as pd
 
df = pd.DataFrame({'A': [1, 2, 3, 4, None], 'B': [5, None, 7, None, 9]})

df.dropna(inplace=True)
df.head()

     A    B
0  1.0  5.0
2  3.0  7.0

In [4]:
#2-Imputation

import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4, None], 'B': [5, None, 7, None, 9]})
df.fillna(df.mean(), inplace=True)
df.head()

     A    B
0  1.0  5.0
1  2.0  7.0
2  3.0  7.0
3  4.0  7.0
4  2.5  9.0

In [5]:
#2.1 Mode Imputation

import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4, None], 'B': [5, None, 7, None, 9]})

df.fillna(df.mode().iloc[0], inplace=True)
df.head()

     A    B
0  1.0  5.0
1  2.0  5.0
2  3.0  7.0
3  4.0  5.0
4  1.0  9.0

### Question 3

In [ ]:
Imbalanced data is a situation where the classes in a classification problem have unequal or 
disproportionate class distribution.

# e.g.
Let’s assume that XYZ is a bank that issues a credit card to its customers. Now the bank is concerned that
some fraudulent transactions are going on and when the bank checks their data they found that for each 2000
transaction there are only 30 Nos of fraud recorded. So, the number of fraud per 100 transactions is less 
than 2%, or we can say more than 98% transaction is “No Fraud” in nature. Here, the class “No Fraud” is 
called the majority class, and the much smaller in size “Fraud” class is called the minority class.

In [ ]:
# if imbalanced data is not handled
1-Bias in model Prediction
2-Overfitting
3-Poor Evalution
4-Inaccurate model

### Question 4

In [ ]:
# Down sampling

Down-sampling is a process of reducing the number of samples in the majority class to balance the 
class distribution. This can be useful when the majority class has significantly more samples than 
the minority class. One example of when down-sampling is required is in fraud detection. In fraud detection,
there are often many more non-fraudulent transactions than fraudulent ones. In such cases, down-sampling can
be used to balance the dataset.

In [ ]:
# Upsampling

Up-sampling is a process of increasing the number of samples in the minority class to balance the 
class distribution. This can be useful when the minority class has significantly fewer samples than 
the majority class. One example of when up-sampling is required is in medical diagnosis, where rare diseases have fewer samples than common ones.
In such cases, up-sampling can be used to balance the dataset.

### Question 5

In [ ]:
# Data argumentation
Data augmentation is a technique used to increase the size of the training dataset by creating modified
copies of existing data. It is commonly used in machine learning to reduce overfitting and improve the 
generalization of models.

In [ ]:
# what is smote
SMOTE stands for Synthetic Minority Over-sampling Technique, and it is a type of data augmentation method
that is used to address imbalanced datasets. 
It generates new synthetic samples of the minority class by interpolating between the feature vectors of
neighboring minority class samples. This technique is particularly useful when the dataset has a class 
imbalance problem, where the number of samples in one class is much smaller than the other.

### Question 6

In [ ]:
# outliers
Outlier is an observation in a given dataset that lies far from the rest of the observations. 
That means an outlier is vastly larger or smaller than the remaining values in the set.

In [ ]:
# essential of handling outliers
Handling outliers is essential for several reasons:
1-Outliers can affect the statistical analysis of the data, such as the mean, standard deviation, 
and correlation coefficient, resulting in biased results.
2-Outliers can also impact the distribution of the data, making it skewed and difficult to model accurately.

### Question 7

In [ ]:
There are several techniques that can be used to handle missing data in customer data analysis:
1-Deletion: One of the simplest methods to handle missing data is to delete the entire row or column 
containing missing data. However, this method should be used with caution as it may lead to loss of valuable information.

2-Imputation: Imputation involves filling in the missing values with a suitable estimate. 
The estimate can be based on the mean, median, mode or other statistical methods.

3-Machine Learning-based imputation: This method involves using machine learning algorithms to predict 
the missing values. This technique can be used when there is a large amount of missing data.

4-Multiple imputations: Multiple imputation is a method that involves creating several imputed datasets,
each with a different imputed value for the missing data. These imputed datasets are then combined to obtain 
an estimate of the missing data

### Question 8

In [ ]:
There are several strategies you can use to determine if missing data is missing at random or if there is 
a pattern to the missing data:
1-Visual inspection: You can create plots or charts of the data to see if there are any visible patterns 
in the missing data.
2-Correlation analyMachine learning algorithms: You can use machine learning algorithms to predict missing values based on other variables in the dataset.sis: You can calculate the correlation between the missing data and other variables in 
the dataset to determine if there is any relationship between them.
3-Imputation methods: You can use imputation methods to fill in the missing data and compare the results
with the original dataset to see if there are any significant differences.
4-Machine learning algorithms: You can use machine learning algorithms to predict missing values based on
    other variables in the dataset.

### Question 9

In [ ]:
When working with imbalanced datasets in machine learning, it is important to use appropriate evaluation
metrics and techniques to accurately measure the performance of the model. 
Some strategies that can be used to evaluate the performance of a machine learning model on an imbalanced 
dataset are:

In [ ]:
1-Resampling Techniques
2-Evaluation Metrics
3-Cost-Sensitive Learning
4-Ensemble Methods

### Question 10

In [ ]:
To balance the dataset, the following methods can be employed to down-sample the majority class:

1-Random Under-Sampling: In this method, instances from the majority class are randomly selected and removed 
from the dataset until the desired balance is achieved.

2-Cluster-Based Under-Sampling: In this method, the majority class is clustered, and instances are selected
for removal from each cluster until balance is achieved.

In [6]:
import seaborn as sns
from sklearn.utils import resample

df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
df_majority = df[df.total_bill=='total_bill']
df_minority = df[df.tip=='tip']

df_majority_downsampled = resample(df_majority, 
                                   replace=False,    
                                   n_samples=len(df_minority),     
                                   random_state=42) 

df_downsampled = pd.concat([df_majority_downsampled, df_minority])

df_downsampled = df_downsampled.sample(frac=1, random_state=42)

### Question 11

In [ ]:
When dealing with a dataset that has a low percentage of occurrences of a particular class, 
such as a rare event, there are several methods that can be used to balance the dataset and up-sample the 
minority class:

1-Random Over-Sampling: In this method, the minority class is randomly duplicated until it has the same 
number of samples as the majority class.

2-Synthetic Minority Over-Sampling Technique (SMOTE): This is a popular algorithm used to up-sample the
minority class. In SMOTE, synthetic samples are generated by interpolating between minority class samples 
that are close to each other.

3-Adaptive Synthetic Sampling (ADASYN): This method is similar to SMOTE, but it generates more synthetic 
samples for the minority class samples that are harder to learn.