### Question 1

In [1]:
import pandas as pd
my_series = pd.Series([4, 8, 15, 16, 23, 42])
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Question 2

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)


print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Question 3

In [3]:
import pandas as pd

data = [
    {'name': 'Alice', 'age': 25, 'gender': 'F'},
    {'name': 'Bob', 'age': 30, 'gender': 'M'},
    {'name': 'Charlie', 'age': 27, 'gender': 'F'}
]

# create the DataFrame
df = pd.DataFrame(data)

# print the DataFrame
print(df)

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   27      F

### Question 4

In [ ]:
# Dataframe
In pandas, a DataFrame is a two-dimensional table-like data structure with labeled rows and columns. 
It is similar to a spreadsheet or a SQL table, where the rows represent observations and 
the columns represent variables.

#Series
On the other hand, a pandas Series is a one-dimensional labeled array capable of holding data of any type

In [4]:
import pandas as pd
data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 30, 35],
        'gender': ['F', 'M', 'M']}


df = pd.DataFrame(data)

ages = df['age']
print(df)
print("************************")
print(ages)

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
************************
0    25
1    30
2    35
Name: age, dtype: int64

### Question 5

In [ ]:
There are many functions available in Pandas to manipulate data in a DataFrame are:
    drop()
    fillna()
    head()
    info()
    dtype()
    unique()
    value_counts()
    describe()

### Question 6

In [ ]:
Both Series and DataFrame are mutable in nature in pandas. However, Panel is deprecated since version
0.25.0 and is not recommended to use.

### Question 7

In [5]:
import pandas as pd

# Create three Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
genders = pd.Series(['Female', 'Male', 'Male'])

df = pd.concat([names, ages, genders], axis=1)

df.columns = ['Name', 'Age', 'Gender']

print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   35    Male